<div class="project" data-aos="fade-up-right" data-aos-duration="1300">
    <div class="content" >
      <p class="pname">
        CSI-GMRIT (Live) <br/>
        (website)
      </p>
      <p class="cont">
        <img src="assets/csi.png" alt=""/>
      </p>
    </div>
    <div class="visit">
     <a href="https://csigmrit.com"> <i class="fa-solid fa-share fa-flip"></i></a>
    </div>
  </div>
  <div class="project" data-aos="zoom-out-up" data-aos-duration="1300">
    <div class="content" >
      <p class="pname">
        College Route map <br/>
        (website)
      </p>
      <p class="cont">
        <img src="assets/project1.jpg" alt=""/>
      </p>
    </div>
    <div class="visit">
     <a href="https://vikas-gmrcollege-miniproject.netlify.app/"> <i class="fa-solid fa-share fa-flip"></i></a>
    </div>
  </div>
  <div class="project" data-aos="fade-up-left" data-aos-duration="1300">
    <div class="content" >
      <p class="pname">
        E-Voting System <br/>
        (website)
      </p>
      <p class="cont">
        <img src="assets/download.png" alt=""/>
      </p>
    </div>
    <div class="visit">
     <a href="https://github.com/vikas965/online_voting_system"> <i class="fa-solid fa-share fa-flip"></i></a>
    </div>
  </div>
  <div class="project" data-aos="fade-up-left" data-aos-duration="1300">
    <div class="content">
      <p class="pname">
        E-Commerce <br/>
        (website)
      </p>
      <p class="cont">
        <img src="assets/project3.png" alt=""/>
      </p>
    </div>
    <div class="visit">
     <a href="https://php-webstore.000webhostapp.com/"> <i class="fa-solid fa-share fa-flip"></i></a>
    </div>
  </div>
  <div class="project" data-aos="fade-up-right" data-aos-duration="1300">
    <div class="content">
      <p class="pname">
        Chat-App <br/>
        (website)
      </p>
      <p class="cont">
        <img src="assets/project4.avif" alt=""/>
      </p>
    </div>
    <div class="visit">
     <a href="http://chatwithme.rf.gd/chatapp/"> <i class="fa-solid fa-share fa-flip"></i></a>
    </div>
  </div>